aiofiles
alembic
click
httptools
import-string
itsdangerous
Mako
manage.py
MarkupSafe
mimeparse
python-dateutil
PyYAML
sanic==20.12.6
jinja2
git+https://github.com/gonrin/gatco.git
git+https://github.com/gonrin/gatco_auth.git
git+https://github.com/gonrin/gatco_jinja2.git
git+https://github.com/gonrin/gatco_sqlalchemy.git
git+https://github.com/gonrin/gatco_apimanager.git
git+https://github.com/gonrin/gatco_acl.git
six
SQLAlchemy
ujson
uvloop
websockets
passlib
psycopg2-binary