<div block-bind="toolbar"></div>
<div block-bind="content">
	<div class="row text-center" style="margin-bottom:10px">
		<div class="col-md-2 text-right"><label>ID</label></div>
		<div class="col-md-3">
			<input type="text" class="form-control" data-bind="value:id" readonly/>
		</div>
	</div>
	<div class="row text-center" style="margin-bottom:10px">
		<div class="col-md-2 text-right"><label>Mã</label></div>
		<div class="col-md-3">
			<input type="text" data-bind="value:ma" class="form-control"/>
		</div>
	</div>
	<div class="row text-center" style="margin-bottom:10px">
		<div class="col-md-2 text-right"><label>Tên</label></div>
		<div class="col-md-3">
			<input type="text" data-bind="value:ten"/>
		</div>
	</div>
	<div class="row text-center" style="margin-bottom:10px">
			<div class="col-md-2 text-right"><label>Giá</label></div>
			<div class="col-md-3">
				<input type="text" data-bind="value:gia"/>
			</div>
	</div>
</div>