<div block-bind="toolbar"></div>
<div block-bind="content">
	<div class="row text-center" style="margin-bottom:10px">
		<div class="col-md-2 text-right"><label>ID</label></div>
		<div class="col-md-3">
			<input type="text" class="form-control"  readonly data-bind="value:id"/>
		</div>
	</div>
	<div class="row text-center" style="margin-bottom:10px">
		<div class="col-md-2 text-right"><label>Mã</label></div>
		<div class="col-md-3">
			<input type="text" class="form-control"  data-bind="value:ma"/>
		</div>
	</div>
	<div class="row text-center" style="margin-bottom:10px">
		<div class="col-md-2 text-right"><label>Tên</label></div>
		<div class="col-md-3">
			<input type="text" class="form-control" data-bind="value:ten"/>
		</div>
	</div>
	<div class="row text-center" style="margin-bottom:10px">
		<div class="col-md-2 text-right"><label>Quốc gia</label></div>
		<div class="col-md-3">
			<input type="text" class="form-control" data-bind="dict:quocgia"/>
		</div>
	</div>
</div>


<div class="input-group">
		<input type="text" class="form-control" value="ABC">
		<div class="input-group-append">
			<span class="btn btn-danger input-group-text"><span aria-hidden="true">&times;</span></span>
			<span class="btn btn-default input-group-text dropdown-toggle"></span>
		</div>
	</div>